@model IEnumerable<coincontrol.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transações";
    ViewData["PageActionText"] = "+ Nova Transação";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None" hierarchyPrintMode="All" toolbar="@(new List<string>() {"Print" })"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Categoria" field="TituloCategoriaComIcone"></e-grid-column>
                <e-grid-column headerText="Data" field="Data" width="110px"
                               type="date" format="dd-MMM-yy" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Valor" field="FormattedAmount" textAlign="Right" width="110px"></e-grid-column>
                <e-grid-column headerText="Ações" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

    <style>
   
        .e-grid .e-toolbar 
        {
            background-color: transparent !important;
            border: none;
        }

    </style>

    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Transaction/AddOrEdit/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Transaction/Delete/${TransactionId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Tem certeza de que quer excluir essa transação?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>
