@using coincontrol.Models.Carteira;
@using System.Globalization
@model coincontrol.Models.Carteira.Carteira

<h1>Criar Carteira</h1>

<h4>Preencha os detalhes da carteira</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="saldoInicial" class="control-label"></label>
                <input asp-for="saldoInicial" class="form-control" />
                <span asp-validation-for="saldoInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label"></label>
                <select asp-for="ano" asp-items="@(new SelectList(Enumerable.Range(DateTime.Now.Year - 10, 11).Reverse()))" class="form-control">
                    <option value="">Escolha o ano</option>
                </select>
                <span asp-validation-for="ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mes" class="control-label"></label>
                <select asp-for="mes" asp-items="@(new SelectList(Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(x), Value = x.ToString() }), "Value", "Text"))" class="form-control">
                    <option value="">Escolha o mês</option>
                </select>
                <span asp-validation-for="mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar Carteira" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar para a lista de carteiras</a>
            </div>
        </form>
    </div>
</div>