@model coincontrol.Models.Carteira.Carteiras

<h1>Excluir Carteira</h1>
<p>Tem certeza de que deseja excluir esta carteira?</p>
<form asp-action="ConfirmarExclusao" asp-route-id="@Model.IdCarteira" method="post">
    <div class="form-group">
        <label asp-for="SaldoInicial"></label>
        <input asp-for="SaldoInicial" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Ano"></label>
        <input asp-for="Ano" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Mes"></label>
        <input asp-for="Mes" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-danger">Excluir Carteira</button>
    <a asp-action="Index" class="btn btn-info">Voltar para a lista de carteiras</a>
</form>
