@model coincontrol.Models.Carteira.Carteira

<h1>Detalhes da Carteira</h1>
<div class="form-group">
    <label asp-for="saldoInicial"></label>
    <input asp-for="saldoInicial" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="ano"></label>
    <input asp-for="ano" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="mes"></label>
    <input asp-for="mes" class="form-control" readonly />
</div>
<a asp-action="Index" class="btn btn-info">Voltar para a lista de carteiras</a>
