@model coincontrol.Models.Carteira.Carteira
@using System.Globalization

<h1>Editar Carteira</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="idCarteira" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="saldoInicial" class="control-label">Saldo Inicial</label>
        <input asp-for="saldoInicial" class="form-control" />
        <span asp-validation-for="saldoInicial" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ano" class="control-label">Ano</label>
        <select asp-for="ano" class="form-control">
            <option value="">Escolha o ano</option>
            @for (var year = DateTime.Now.Year; year >= DateTime.Now.Year - 10; year--)
            {
                <option value="@year">@year</option>
            }
        </select>
        <span asp-validation-for="ano" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="mes" class="control-label">Mês</label>
        <select asp-for="mes" asp-items="@(new SelectList(Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(x), Value = x.ToString() }), "Value", "Text"))" class="form-control">
            <option value="">Escolha o mês</option>
        </select>
        <span asp-validation-for="mes" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a asp-action="Index" class="btn btn-info">Voltar para a lista de carteiras</a>
    </div>
</form>

@section Scripts {
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}