@model coincontrol.Models.Carteira.Carteiras

<h1>Editar Carteira</h1>
<form asp-action="Edit">
    <input type="hidden" asp-for="IdCarteira" />
    <div class="form-group">
        <label asp-for="SaldoInicial"></label>
        <input asp-for="SaldoInicial" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Ano"></label>
        <input asp-for="Ano" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mes"></label>
        <input asp-for="Mes" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    <a asp-action="Index" class="btn btn-info">Voltar para a lista de carteiras</a>
</form>
