@model coincontrol.Models.Category


@{
    ViewData["PageTitle"] = Model.CategoryId == 0 ? "Crie uma nova categoria" : "Edite categoria";
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Modalidade" value="Saída" checked="@(Model.Modalidade=="Saída")" />
                        <label class="e-btn" for="radioleft">Saída</label>
                        <input type="radio" id="radiomiddle" name="Modalidade" value="Entrada" checked="@(Model.Modalidade=="Entrada")" />
                        <label class="e-btn" for="radiomiddle">Entrada</label>
                        <input type="radio" id="radioright" name="Modalidade" value="Meta" checked="@(Model.Modalidade=="Meta")" />
                        <label class="e-btn" for="radioright">Meta</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Título" placeholder="Título" ejs-for="Título" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Título" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Ícone" placeholder="Ícone" ejs-for="Ícone" floatLabelType="Always"></ejs-textbox>
                </div>
                <ejs-button id="submit" type="submit" content="Adicionar" cssClass="e-success"></ejs-button>
            </form>
        </div>


    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>


@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@