@model coincontrol.Models.Meta.Meta

@{
    ViewData["Title"] = "Edit";
}

<h1>Deseja alterar o valor de sua Meta?</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMeta" />
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input value="@Model.ValorTotal" id="ValorTotal" name="ValorTotal" required data-val-required="O Valor total deve ser informado" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar alteração" class="btn btn-success" />
            </div>
            <div>
                <a class="btn btn-danger" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
