@model coincontrol.Models.Meta.Meta

@{
    ViewData["PageTitle"] = "Edite Meta";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdMeta" />
                <input type="hidden" asp-for="ValorParcial" />
                <div class="mb-3">
                    <ejs-numerictextbox id="ValorTotal" placeholder="Meta" ejs-for="ValorTotal" floatLabelType="Always"></ejs-numerictextbox>
                    <span asp-validation-for="ValorTotal" class="text-danger fs-6"></span>
                </div>
                <ejs-button id="submit" type="submit" content="Alterar" cssClass="e-success"></ejs-button> |
                <a class="btn btn-danger" asp-action="Index">Voltar</a>
            </form>
        </div>

    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>
