@model IEnumerable<coincontrol.Models.Meta.Meta>

@{
    ViewData["Title"] = "Index";
}
@{
    ViewData["PageTitle"] = "Metas";
    ViewData["PageActionText"] = "+ Nova Meta";
    ViewData["PageActionUrl"] = "/Metas/Create";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="metas" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Meta" field="ValorTotal"></e-grid-column>
                <e-grid-column headerText="Valor atual" field="ValorParcial"></e-grid-column>
                <e-grid-column headerText="Categoria" field="Categoria.Título"></e-grid-column>
                <e-grid-column headerText="Ações" template="#actionColumnTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

    <script id="actionColumnTemplate" type="text/x-template">
        <div class="d-flex flex-row justify-content-start">
            <a class="btn btn-sm no-a-decoration" href="/Metas/Edit/${IdMeta}">
                <i class="fa-solid fa-pen fa-lg"></i>
            </a>
            <form action="/Metas/Delete/${IdMeta}" method="post">
        @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-sm btn-link no-a-decoration"
                onclick="return confirm(&quot;Tem certeza de que quer excluir este registro?&quot;)">
                    <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                </button>
            </form>
        </div>
    </script>
