@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Agradecemos por acessar o Coincontrol, o seu portal de controle financeiro!</p>
</div>
