@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>O CoinControl é uma plataforma que se preocupa com a privacidade e segurança dos dados de seus usuários.</p>
<p>A LGPD estabelece princípios e regras específicas para a coleta, armazenamento, processamento e compartilhamento de dados pessoais, visando preservar a privacidade e a transparência na utilização das informações.</p>
<p>Estamos empenhados em manter um ambiente seguro e protegido, onde os usuários podem confiar na integridade e no tratamento seguro de suas informações.</p>
