@model coincontrol.Models.Usuario.Usuario

@{
    ViewData["PageTitle"] = "Crie seu usuário";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <ejs-textbox id="Nome" placeholder="Nome" ejs-for="Nome" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Nome" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Email" placeholder="Email" ejs-for="Email" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Email" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox type="password" id="Senha" placeholder="Senha" ejs-for="Senha" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Senha" class="text-danger fs-6"></span>
                </div>
                <ejs-button id="submit" type="submit" content="Criar" cssClass="e-success"></ejs-button> |
                <a class="btn btn-danger" asp-action="Login">Voltar</a>
            </form>
        </div>
    </div>

</div>
